#myProfile{
    border-radius: 50%;
   width:100px;
  }
  .myTitle{font-size: 5vw;}
  .myFont{
    font-size: 2rem;
  }
   aside.main-sidebar{
      background-color: #0882c8;
      color:rgb(77, 75, 75);
   }
   nav ul li a p{
      color:aliceblue;
   }
   nav ul li a i{
      color:black;
   }
   .profile{
       list-style-type:none;
   }
   @media (min-width: 768px){.myTitle{font-size: 4vw;}}
   body { padding-right: 0 !important;}
   /*
   .main-header,.content, .content-header{
     background-color:#6c757d;
   }
   .main-header,.content-header{
     color:aliceblue;
   }
   table{
     color:#343a40;
   }
   */
   .dataTables_filter, .dataTables_info { display: none; }
   div.dt-buttons {float: right;}
   table.dataTable thead {
     background-color:#6c757d;
     color:aliceblue;
   }
         /**
   Profile
   */
   .overflow-auto{
    width: auto;
    height:10rem;
  }
  @media screen and (max-width:767px) {
    .myrow {
      display: flex;
      flex-direction: column-reverse;
      border: 1px solid black;
    }
    .mycard1 {
      width: 100%;
      float: right;
    }
    .mycard2 {
      width: 100%;
      float: right;
    }
  }
  #profileImg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  #profileModal{
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}
.fileUpload {
position: relative;
overflow: hidden;
margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}